<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        
        <meta charset="UTF-8">
        <title>Registro de Autores o Biblioteca</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
    
        <div>
            
            <form action="/autor/registro" method="POST">
                
                <div>
                    
                    <label>Cargar autores</label>   
                    <div>
                    <input type="text" name="nombre" placeholder="Nombre del autor">
                    </div>
                </div>  
                <button type="submit">Guardar</button>
                
                <div th:if="${exito}!=null">
                    <div>
                        <h5>Exito!</h5>
                        <p th:text="${exito}"></p>
                    </div>
                </div>
                <div th:if="${error}!=null">
                    <div>
                        <h5>Error</h5>
                        <p th:text="${error}"></p>
                    </div>
                </div>
                
            </form>           
            
            <section>
                <div>
                    <div>
                        <a th:href="@{/}">Volver</a>
                    </div>
                </div>
            </section>
            
        </div>
        
    </body>
</html>
